<div class="container">
  <h1>Editing Profile</h1>

  <%= render 'form', profile: @profile %>

  <%= link_to '表示', @profile, class: 'btn btn-primary' %>
  <%= link_to '戻る', profiles_path, class: 'btn btn-secondary' %>
</div>
