.navbar {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.15);
}

.bg-primary {
  background-color: #3F51B5 !important;
}

.text-white {
  color: white !important;
}

.card {
  border-radius: 0.75rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.btn-primary {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  background-color: #3F51B5;
  border-color: #3F51B5;
  color: #fff;
}

.form-control {
  &:focus {
    border-color: #3F51B5;
    box-shadow: 0 0 0 0.2rem rgba(#3F51B5, 0.25);
  }
}

.modal {
  .modal-content {
    border-radius: 0.75rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  }
}
